html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #003807;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.30;
    font-family: 'MedievalSharp', cursive;
    font-weight: 700;
    text-align: left;
    background-image: url("images/tapeta.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.body--alternative {
    color: #b31818;
}

.header {
    max-width: 1000px;
    border-bottom: groove #007e11;
    border-radius: 4px;
    
}

.header__title {
    word-spacing: 20px;
    letter-spacing: 10px;
    font-size: 50px;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 3px 3px 2px;
    margin-bottom: 3px;
}

.navigation {
    text-align: right;
    margin-right: -18px;

}

.navigation__item {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    font-size: 20px;
    list-style-type: none;
}

.navigation__link {
    text-decoration: none;
    color: #000000;
}

.navigation__link:visited {
    color: #000000;
}

.navigation__link:hover {
    color: hsl(128, 100%, 34%);
    
}

.navigation__link:active {
    color: hsl(128, 100%, 60%);
}

.section {
    max-width: 1000px;
    min-height: 285px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: inset 1px #007e11;
    box-shadow: 5px 4px 5px 0px #4d4d4d93;
}

.section__photos {
    display:flex;
    flex-direction: column;
    flex: initial;
}

.section:hover {
    box-shadow: 5px 4px 5px 0px #4d4d4d93;
}

.section__title {
    font-family: 'MedievalSharp', cursive;
    font-size: 45px;
    text-shadow: 3px 3px 2px;
    border-bottom: groove #007e11;
    border-radius: 4px;
    letter-spacing: 3px;
    margin-top: auto;
}

.section--aboutme {
    min-height: 285px;
}

.section__image {
    float: left;
    margin-right: 7px;
}

.button {
    font-weight: 900;
    border: none;
    background: none;
    font-size: 19px;
    cursor: pointer;
    color: #b31818;
}

.button:hover {
    text-decoration: underline;
}

.button--green {
    color: #003807;
}

.button--green:hover {
    text-decoration: underline;
}

.section__link {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}

.section__link:visited {
    color: #000000;
}

.section__link:hover {
    color: hsl(128, 100%, 34%);
    
}

.section__link:active {
    color: hsl(128, 100%, 60%);
}


.form {
    max-width: 360px;
    padding-left: 28px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
}

.form__label {
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 8px #ccc;
}

.form__field {
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(173, 169, 169);
    box-shadow: 2px 2px 8px #ccc;
}

.form__button {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border: solid 1px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
    background-color: rgb(214, 233, 214);
    box-shadow: 2px 2px 8px #ccc;
}

.form_info {
    font-size: 10px;
    color: rgb(128, 128, 128);
}

.footer {
    text-align: center;
    padding-bottom: 15px;
}

.footer__link {
    text-decoration: none;
    color: #000000;
}

.footer__link:visited {
    color: #000000;
}

.footer__link:hover {
    color: hsl(14, 74%, 40%);
    border-bottom: dotted;
}

.footer__link:active {
    color: hsl(14, 74%, 60%);
}
