html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    color: #003807;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-image: url("images/tapeta.jpg");
}

.body--alternative {
    color: #b31818;
}

.header {
    max-width: 1000px;
    border-bottom: solid #000000;
}

.header__title {
    font-family: 'Ms Madi', cursive;
    font-size: 50px;
    padding-top: 2px;
    padding-left: 10px;
    margin-bottom: 3px;
}

.navigation {
    text-align: right;
}

.navigation__item {
    font-family: 'Berkshire Swash', cursive;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    font-size: 20px;
    list-style-type: none;
}

.navigation__link {
    text-decoration: none;
    color: #000000;
}

.navigation__link:visited {
    color: #000000;
}

.navigation__link:hover {
    color: hsl(14, 74%, 40%);
    border-bottom: dotted;
}

.navigation__link:active {
    color: hsl(14, 74%, 60%);
}

.section {
    max-width: 1000px;
    border-radius: 5px;
    font-family: 'Berkshire Swash', cursive;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
    background-image: url("images/section.jpg");
}

.section__title {
    font-family: 'Ms Madi', cursive;
    font-size: 40px;
    border-bottom: solid #000000;
}

.section--aboutme {
    min-height: 285px;
}

.section:hover {
    box-shadow: 0px 0px 5px 0px #000000;
}

.section__image {
    float: left;
    margin-right: 7px;
}

.list {
    max-width: 550px;
}


.list__item {
    margin-bottom: 10px;

}

.list__item:hover {
    background: rgb(99, 99, 99);
}

.container {
    overflow-x: auto;
}

.table {
    margin: 10px;
    border-collapse: collapse;
    width: 800px;
}

.table__header {
    background: #dfdfdf;
}
.table__row {
    text-align: center;
}

.table__row:nth-child(even) {
    background: #dfdfdf;
}

.table__row:hover {
    background: rgb(102, 102, 102);
}

.button {
    border: none;
    background: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: 18px;
    cursor: pointer;
    color: #b31818;
}

.button:hover {
    box-shadow: 0px 0px 5px 0px #000000;
}

.button--green {
    color: #003807;
}


.section__link {
    text-decoration: none;
    color: #000000;
}

.section__link:visited {
    color: #000000;
}

.section__link:hover {
    color: hsl(14, 74%, 40%);
    border-bottom: dotted;
}

.section__link:active {
    color: hsl(14, 74%, 60%);
}

.footer {
    margin: 15px;
}
.footer__link {
    text-decoration: none;
    color: #000000;
}

.footer__link:visited {
    color: #000000;
}

.footer__link:hover {
    color: hsl(14, 74%, 40%);
    border-bottom: dotted;
}

.footer__link:active {
    color: hsl(14, 74%, 60%);
}
